# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
!media/.gitkeep

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
